<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ThesisTrack - Login</title>
    <link rel="stylesheet" href="../assets-css/login.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
  </head>
  <body>
    <div class="container">
      <!-- LOGIN -->
      <div class="form-box login">
        <form action="../api/login.php" method="POST">
          <h1>Login</h1>

          <div class="input-box">
            <input type="email" name="email" placeholder="Email" required />
            <i class="bx bxs-user"></i>
          </div>

          <div class="input-box">
            <input
              type="password"
              name="password"
              placeholder="Password"
              required
            />
            <i class="bx bxs-lock-alt"></i>
          </div>

          <div class="forgot-link">
            <a href="#">Forgot Password?</a>
          </div>

          <button type="submit" class="btn">Login</button>

          <p>Continue with Google</p>

          <div class="social-icons">
            <a href="#"><i class="bx bxl-google"></i></a>
          </div>
        </form>
      </div>
      <!-- REGISTER -->
      <div class="form-box register">
        <form method="POST" action="../api/register.php">
          <div class="logo-white">
            <i class="fa fa-graduation-cap"></i>
            <span>ThesisTrack</span>
          </div>
          <h1>Registration</h1>

          <div class="input-box">
            <input type="text" name="name" placeholder="Full Name" />
            <i class="bx bxs-user"></i>
          </div>

          <div class="input-box">
            <input type="email" name="email" required />
            <i class="bx bxs-envelope"></i>
          </div>

          <div class="input-box">
            <input type="password" name="password" required />
            <i class="bx bxs-lock-alt"></i>
          </div>
          <div class="input-box">
            <select name="role" required>
              <option value="" disabled selected>Select Role</option>
              <option value="student">Student</option>
              <option value="professor">Professor</option>
            </select>
            <i class="bx bxs-id-card"></i>
          </div>
          <button type="submit" class="btn">Register</button>

          <p>Continue with Google</p>

          <div class="social-icons">
            <a href="#"><i class="bx bxl-google"></i></a>
          </div>
        </form>
      </div>

      <!-- TOGGLE -->
      <div class="toggle-box">
        <div class="toggle-panel toggle-left">
          <h2 class="logo-white">
            <i class="fa fa-graduation-cap"></i> ThesisTrack
          </h2>
          <h1>Manage Your Graduation Project</h1>
          <p>Connect with your supervisor & track progress</p>
          <button class="btn register-btn">Register</button>
        </div>

        <div class="toggle-panel toggle-right">
          <div class="logo-white">
            <i class="fa fa-graduation-cap"></i>
            <span>ThesisTrack</span>
          </div>
          <h1>Continue Your Project</h1>
          <p>Access your workspace and track your progress</p>
          <button class="btn login-btn">Login</button>
        </div>
      </div>
    </div>

    <script src="../assets-js/login.js"></script>
  </body>
</html>
